body {
  padding: 2em;
  font-family: Georgia, sans-serif;
}

.js .warning {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: minmax(250px, 400px) minmax(200px, 1fr);
  grid-column-gap: 3em;
  grid-auto-rows: minmax(5em, auto);
}

  #grid .grid-cell {
    padding: 0.3em 0.3em;
  }

  #grid #input {
    grid-column: 1;
  }

  #grid #days {
    grid-column: 2;
  }

textarea.input-area {
  width: 100%;
  font-size: 2em;
  height: 10em;
}

h1 .app-version {
  color: #999999;
  font-size: 0.3em;
  font-weight: normal;
  vertical-align: super;
  margin-left: 1em;
}

pre.input-example {
  width: 150px;
  padding: 0.2em;
  padding-left: 1em;
  margin: 0;
}
pre.input-example:hover {
  border: 1px dashed #111;
  cursor: pointer;
}

table.periods-table {
  table-layout: fixed;
}
  table.periods-table th {
    text-align: left;
  }
  table.periods-table th,
  table.periods-table td {
    width: 80px;
  }

  table.periods-table th.badges,
  table.periods-table td.badges {
    width: 150px;
  }

  table.periods-table .assumed {
    font-style: italic;
  }

  table.periods-table tr.estimation td {
    color: #999999;
  }


.summary {
  margin-top: 2em;
}

  .summary .value-label {
    font-weight: bold;
  }

input.inline {
  width: 50px;
  border: 0;
  border-bottom: 1px dashed black;
}

h3 {
  margin-top: 2em;
}

h3.first-header {
  margin-top: 0;
}

.badge {
  border-radius: 0.1em;
  padding: 0 0.3em;
  display: inline-block;
  font-size: 0.8em;
}

.estimate-badge {
  background: #1e90ff;
  color: #fff;
}
