# IDE
.idea/
.project/
*.iml
.scala_dependencies
.vscode

# Mac OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini

# scala / java
*.class
*.log

# bloop and metals
.bloop/
.metals/
project/metals.sbt

# sbt
target/
.bsp/
project/project/